@page "/doctors"

<h3>Doctors</h3>

@if (doctors == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Specialty</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var d in doctors)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.FullName</td>
                <td>@d.Specialty</td>
                <td>@d.Email</td>
            </tr>
        }
        </tbody>
    </table>
}