@page "/doctors/add"


<h3>Add Doctor</h3>

<EditForm Model="@doctor" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Full Name:</label>
        <InputText @bind-Value="doctor.FullName" />
    </div>
    <div>
        <label>Specialty:</label>
        <InputText @bind-Value="doctor.Specialty" />
    </div>
    <div>
        <label>Email:</label>
        <InputText @bind-Value="doctor.Email" />
    </div>

    <button type="submit">Add</button>
    <button type="button" @onclick="Cancel">Cancel</button>
</EditForm>