@page "/patients/add"
@using HealthApp.Domain.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles="Admin")]

<h3>Add Patient</h3>

@if (!userIsAdmin)
{
    <p>You are not authorized to view this page.</p>
}
else
{
    <EditForm Model="@patient" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>Full Name:</label>
            <InputText @bind-Value="patient.FullName" />
        </div>
        <div>
            <label>Email:</label>
            <InputText @bind-Value="patient.Email" type="email" />
        </div>

        <button type="submit">Save</button>
    </EditForm>
}